In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from utils.model_val_metrics_helper import select_threshold, metric_null, plot_intervention_counts

%matplotlib inline
%config InlineBackend.figure_format = 'retina'

pd.options.display.max_columns = 500
pd.options.display.max_rows = 500
pd.options.display.float_format = '{:,.4f}'.format

# I. Combine Main DF with Intervention DF

In [2]:
pred_df_full = pd.read_pickle('data/pred_df_full_20220805_20220930_20221010.pkl')
pred_df_full.iloc[:, 3:]

,DepartmentServiceGrouper,DepartmentName,LocationAbbreviation,LOS,rel_time,abs_time,AdmissionInstant,AdmissionDateKey,etco2,SBP,DBP,HR,Resp,Temp,Weight,BMI,SpO2,gcs_total_score,MAP,ALKALINE PHOSPHATASE,APTT,"ARTERIAL PCO2, POC","ARTERIAL PH, POC","ARTERIAL PO2, POC",AST,BILIRUBIN TOTAL,BLOOD UREA NITROGEN,CALCIUM,CHLORIDE,CREATININE,FIBRINOGEN,"FIO2, ABG",GLUCOSE,HEMATOCRIT,HEMOGLOBIN,"LACTATE, ABG",MAGNESIUM,"OXYGEN PERCENT, ABG","PCO2, ABG","PH, ABG","PHOSPHORUS, INORGANIC",PLATELET COUNT,"PO2, ABG",POTASSIUM,SODIUM,WBC,AgeAtAdmissioninYears,sex_Female,sex_Male,etco2_interval_f1,etco2_interval_f2,etco2_diff,SBP_interval_f1,SBP_interval_f2,SBP_diff,DBP_interval_f1,DBP_interval_f2,DBP_diff,HR_interval_f1,HR_interval_f2,HR_diff,Resp_interval_f1,Resp_interval_f2,Resp_diff,Temp_interval_f1,Temp_interval_f2,Temp_diff,Weight_interval_f1,Weight_interval_f2,Weight_diff,BMI_interval_f1,BMI_interval_f2,BMI_diff,SpO2_interval_f1,SpO2_interval_f2,SpO2_diff,gcs_total_score_interval_f1,gcs_total_score_interval_f2,gcs_total_score_diff,MAP_interval_f1,MAP_interval_f2,MAP_diff,ALKALINE PHOSPHATASE_interval_f1,ALKALINE PHOSPHATASE_interval_f2,ALKALINE PHOSPHATASE_diff,APTT_interval_f1,APTT_interval_f2,APTT_diff,"ARTERIAL PCO2, POC_interval_f1","ARTERIAL PCO2, POC_interval_f2","ARTERIAL PCO2, POC_diff","ARTERIAL PH, POC_interval_f1","ARTERIAL PH, POC_interval_f2","ARTERIAL PH, POC_diff","ARTERIAL PO2, POC_interval_f1","ARTERIAL PO2, POC_interval_f2","ARTERIAL PO2, POC_diff",AST_interval_f1,AST_interval_f2,AST_diff,BILIRUBIN TOTAL_interval_f1,BILIRUBIN TOTAL_interval_f2,BILIRUBIN TOTAL_diff,BLOOD UREA NITROGEN_interval_f1,BLOOD UREA NITROGEN_interval_f2,BLOOD UREA NITROGEN_diff,CALCIUM_interval_f1,CALCIUM_interval_f2,CALCIUM_diff,CHLORIDE_interval_f1,CHLORIDE_interval_f2,CHLORIDE_diff,CREATININE_interval_f1,CREATININE_interval_f2,CREATININE_diff,"FIO2, ABG_interval_f1","FIO2, ABG_interval_f2","FIO2, ABG_diff",GLUCOSE_interval_f1,GLUCOSE_interval_f2,GLUCOSE_diff,HEMATOCRIT_interval_f1,HEMATOCRIT_interval_f2,HEMATOCRIT_diff,HEMOGLOBIN_interval_f1,HEMOGLOBIN_interval_f2,HEMOGLOBIN_diff,"LACTATE, ABG_interval_f1","LACTATE, ABG_interval_f2","LACTATE, ABG_diff",MAGNESIUM_interval_f1,MAGNESIUM_interval_f2,MAGNESIUM_diff,"OXYGEN PERCENT, ABG_interval_f1","OXYGEN PERCENT, ABG_interval_f2","OXYGEN PERCENT, ABG_diff","PCO2, ABG_interval_f1","PCO2, ABG_interval_f2","PCO2, ABG_diff","PH, ABG_interval_f1","PH, ABG_interval_f2","PH, ABG_diff","PHOSPHORUS, INORGANIC_interval_f1","PHOSPHORUS, INORGANIC_interval_f2","PHOSPHORUS, INORGANIC_diff",PLATELET COUNT_interval_f1,PLATELET COUNT_interval_f2,PLATELET COUNT_diff,"PO2, ABG_interval_f1","PO2, ABG_interval_f2","PO2, ABG_diff",POTASSIUM_interval_f1,POTASSIUM_interval_f2,POTASSIUM_diff,SODIUM_interval_f1,SODIUM_interval_f2,SODIUM_diff,WBC_interval_f1,WBC_interval_f2,WBC_diff,HR_mean,O2Sat_mean,SBP_mean,MAP_mean,Resp_mean,O2Sat_median,SBP_median,MAP_median,Resp_median,O2Sat_min,SBP_min,MAP_min,Resp_min,O2Sat_max,SBP_max,MAP_max,Resp_max,O2Sat_std,SBP_std,MAP_std,Resp_std,O2Sat_dstd,SBP_dstd,MAP_dstd,Resp_dstd,HR_score,Temp_score,Resp_score,MAP_score,qsofa,SIRS,PredictedProbability,SepsisLabel_0.005,SepsisLabel_0.01,SepsisLabel_0.02,SepsisLabel_0.03,SepsisLabel_0.04,SepsisLabel_0.05,SepsisLabel_0.06,SepsisLabel_0.07,SepsisLabel_0.09,SepsisLabel_0.1,SepsisLabel_0.15,SepsisLabel_0.2,SepsisLabel_0.25,SepsisLabel_0.3,SepsisLabel_0.4,SepsisLabel_0.5,Prediction_Time
0,*Unspecified,TH 6 MAIN PERI-OP,Tisch,0.0000,0.5000,2022-08-03 06:36:00,2022-08-03 06:06:00,20220803,NaN,132.0000,76.0000,88.0000,15.0000,36.1140,"3,086.4400",33.1100,97.0000,NaN,94.6667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,69.1657,0.0000,1.0000,0.0000,-1.0000,NaN,1.0000,0.0000,NaN,1.0000,0.0000,NaN,1.0000,0.0000,NaN,1.0000,0.0000,NaN,1.0000,0.0000,NaN,1.0000,0.0000,NaN,1.0000,0.0000,NaN,1.0000,0.0000,NaN,0.0000,-1.0000,NaN,1.0000,0.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,88.0000,97.0000,132.0000,94.6667,15.0000,97.0000,132.0000,94.6667,15.0000,97.0000,132.0000,94.6667,15.0000,97.0000,132.0000,94.6667,15.0000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0000,1.0000,0.0000,0.0000,0.0000,0,0.0228,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,2022-11-21 18:35:13
1,*Unspecified,TH 6 MAIN PERI-OP,Tisch,0.5000,1.0000,2022-08-03 07:06:00,2022-08-03 06:06:00,20220803,NaN,132.0000,76.0000,88.0000,15.0000,36.1140,"3,086.4400",33.1100,97.0000,NaN,94.6667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,69.1657,0.0000,1.0000,0.0000,-1.0000,NaN,2.0000,0.0000,0.0000,2.0000,0.0000,0.0000,2.0000,0.0000,0.0000,2.0000,0.0000,0.0000,2.0000,0.0000,0.0000,2.0000,0.0000,0.0000,2.0000,0.0000,0.0000,2.0000,0.0000,0.0000,0.0000,-1.0000,NaN,2.0000,0.0000,0.0000,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,88.0000,97.0000,132.0000,94.6667,15.0000,97.0000,132.0000,94.6667,15.0000,97.0000,132.0000,94.6667,15.0000,97.0000,132.0000,94.6667,15.0000,0.0000,0.0000,0.0000,0.0000,NaN,NaN,NaN,NaN,0.0000,1.0000,0.0000,0.0000,0.0000,0,0.0068,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2022-11-21 18:35:13
2,*Unspecified,TH 6 MAIN PERI-OP,Tisch,1.0000,1.5000,2022-08-03 07:36:00,2022-08-03 06:06:00,20220803,NaN,132.0000,76.0000,88.0000,15.0000,36.1140,"3,086.4400",33.1100,97.0000,NaN,94.6667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,69.1657,0.0000,1.0000,0.0000,-1.0000,NaN,3.0000,0.0000,0.0000,3.0000,0.0000,0.0000,3.0000,0.0000,0.0000,3.0000,0.0000,0.0000,3.0000,0.0000,0.0000,3.0000,0.0000,0.0000,3.0000,0.0000,0.0000,3.0000,0.0000,0.0000,0.0000,-1.0000,NaN,3.0000,0.0000,0.0000,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,88.0000,97.0000,132.0000,94.6667,15.0000,97.0000,132.0000,94.6667,15.0000,97.0000,132.0000,94.6667,15.0000,97.0000,132.0000,94.6667,15.0000,0.0000,0.0000,0.0000,0.0000,NaN,NaN,NaN,NaN,0.0000,1.0000,0.0000,0.0000,0.0000,0,0.0068,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2022-11-21 18:35:13
3,*Unspecified,TH 6 MAIN PERI-OP,Tisch,1.5000,2.0000,2022-08-03 08:06:00,2022-08-03 06:06:00,20220803,NaN,132.0000,76.0000,88.0000,15.0000,36.1140,"3,086.4400",33.1100,97.0000,NaN,94.6667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,69.1657,0.0000,1.0000,0.0000,-1.0000,NaN,4.0000,0.0000,0.0000,4.0000,0.0000,0.0000,4.0000,0.0000,0.0000,4.0000,0.0000,0.0000,4.0000,0.0000,0.0000,4.0000,0.0000,0.0000,4.0000,0.0000,0.0000,4.0000,0.0000,0.0000,0.0000,-1.0000,NaN,4.0000,0.0000,0.0000,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,88.0000,97.0000,132.0000,94.6667,15.0000,97.0000,132.0000,94.6667,15.0000,97.0000,132.0000,94.6667,15.0000,97.0000,132.0000,94.6667,15.0000,0.0000,0.0000,0.0000,0.0000,NaN,NaN,NaN,NaN,0.0000,1.0000,0.0000,0.0000,0.0000,0,0.0068,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2022-11-21 18:35:13
4,*Unspecified,TH 6 MAIN PERI-OP,Tisch,2.0000,2.5000,2022-08-03 08:36:00,2022-08-03 06:06:00,20220803,NaN,132.0000,76.0000,88.0000,15.0000,36.1140,"3,086.4400",33.1100,97.0000,NaN,94.6667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,69.1657,0.0000,1.0000,0.0000,-1.0000,NaN,5.0000,0.0000,0.0000,5.0000,0.0000,0.0000,5.0000,0.0000,0.0000,5.0000,0.0000,0.0000,5.0000,0.0000,0.0000,5.0000,0.0000,0.0000,5.0000,0.0000,0.0000,5.0000,0.0000,0.0000,0.0000,-1.0000,NaN,5.0000,0.0000,0.0000,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,88.0000,97.0000,132.0000,94.6667,15.0000,97.0000,132.0000,94.6667,15.0000,97.0000,132.0000,94.6667,15.0000,97.0000,132.0000,94.6667,15.0000,0.0000,0.0000,0.0000,0.0000,NaN,NaN,NaN,NaN,0.0000,1.0000,0.0000,0.0000,0.0000,0,0.0061,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2022-11-21 18:35:13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3941954,*Unspecified,LI NW 1 EMERGENCY DEPT,NYUWH,185.5000,186.0000,2022-10-07 07:27:00,2022-09-29 13:27:00,20220929,NaN,116.0000,81.0000,92.0000,18.0000,37.0030,"2,960.0000",35.0000,100.0000,15.0000,92.6667,52.0000,27.8000,NaN,NaN,NaN,14.0000,0.8000,11.0000,9.8000,101.0000,0.7600,NaN,NaN,102.0000,35.0000,11.8000,NaN,1.9000,NaN,NaN,NaN,2.9000,380.0000,NaN,3.9000,135.0000,6.2000,43.1400,1.0000,0.0000,0.0000,-1.0000,NaN,365.0000,0.0000,0.0000,365.0000,0.0000,0.0000,365.0000,0.0000,0.0000,313.0000,0.0000,0.0000,360.0000,0.0000,0.0000,12.0000,360.0000,0.0000,12.0000,360.0000,0.0000,197.0000,37.0000,0.0000,60.0000,5.0000,0.0000,365.0000,0.0000,0.0000,24.0000,318.0000,0.0000,12.0000,356.0000,0.0000,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,24.0000,318.0000,0.0000,24.0000,318.0000,0.0000,60.0000,117.0000,0.0000,60.0000,117.0000,0.0000,60.0000,117.0000,0.0000,60.0000,117.0000,0.0000,0.0000,-1.0000,NaN,60.0000,117.0000,0.0000,48.0000,178.0000,0.0000,48.0000,178.0000,0.0000,0.0000,-1.0000,NaN,24.0000,117.0000,0.0000,0.0000,-1,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,36.0000,117.0000,0.0000,48.0000,178.0000,0.0000,0.0000,-1.0000,NaN,60.0000,117.0000,0.0000,60.0000,117.0000,0.0000,48.0000,178.0000,0.0000,98.5833,100.0000,121.2917,92.4306,18.0000,100.0000,121.0000,92.0833,18.0000,100.0000,116.0000,90.3333,18.0000,100.0000,128.0000,96.0000,18.0000,0.0000,4.5450,2.3597,0.0000,2.1213,2.1213,9.6638,0.7071,1.0000,1.0000,0.0000,0.0000,0.0000,0,0.0260,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,2022-11-21 18:35:13
3941955,*Unspecified,LI NW 1 EMERGENCY DEPT,NYUWH,186.0000,186.5000,2022-10-07 07:57:00,2022-09-29 13:27:00,20220929,NaN,116.0000,81.0000,92.0000,18.0000,37.0030,"2,960.0000",35.0000,100.0000,15.0000,92.6667,52.0000,27.8000,NaN,NaN,NaN,14.0000,0.8000,11.0000,9.8000,101.0000,0.7600,NaN,NaN,102.0000,35.0000,11.8000,NaN,1.9000,NaN,NaN,NaN,2.9000,380.0000,NaN,3.9000,135.0000,6.2000,43.1400,1.0000,0.0000,0.0000,-1.0000,NaN,366.0000,0.0000,0.0000,366.0000,0.0000,0.0000,366.0000,0.0000,0.0000,314.0000,0.0000,0.0000,361.0000,0.0000,0.0000,12.0000,361.0000,0.0000,12.0000,361.0000,0.0000,197.0000,38.0000,0.0000,60.0000,6.0000,0.0000,366.0000,0.0000,0.0000,24.0000,319.0000,0.0000,12.0000,357.0000,0.0000,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,24.0000,319.0000,0.0000,24.0000,319.0000,0.0000,60.0000,118.0000,0.0000,60.0000,118.0000,0.0000,60.0000,118.0000,0.0000,60.0000,118.0000,0.0000,0.0000,-1.0000,NaN,60.0000,118.0000,0.0000,48.0000,179.0000,0.0000,48.0000,179.0000,0.0000,0.0000,-1.0000,NaN,24.0000,118.0000,0.0000,0.0000,-1,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,36.0000,118.0000,0.0000,48.0000,179.0000,0.0000,0.0000,-1.0000,NaN,60.0000,118.0000,0.0000,60.0000,118.0000,0.0000,48.0000,179.0000,0.0000,97.9167,100.0000,120.2917,92.1528,18.0000,100.0000,121.0000,92.0833,18.0000,100.0000,116.0000,90.3333,18.0000,100.0000,128.0000,96.0000,18.0000,0.0000,4.2451,2.0810,0.0000,2.0817,5.1316,8.3022,0.5774,1.0000,1.0000,0.0000,0.0000,0.0000,0,0.0271,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,2022-11-21 18:35:13
3941956,*Unspecified,LI NW 1 EMERGENCY DEPT,NYUWH,186.5000,187.0000,2022-10-07 08:27:00,2022-09-29 13:27:00,20220929,NaN,116.0000,81.0000,92.0000,18.0000,37.0030,"2,960.0000",35.0000,100.0000,15.0000,92.6667,52.0000,27.8000,NaN,NaN,NaN,14.0000,0.8000,11.0000,9.8000,101.0000,0.7600,NaN,NaN,102.0000,35.0000,11.8000,NaN,1.9000,NaN,NaN,NaN,2.9000,380.0000,NaN,3.9000,135.0000,6.2000,43.1400,1.0000,0.0000,0.0000,-1.0000,NaN,367.0000,0.0000,0.0000,367.0000,0.0000,0.0000,367.0000,0.0000,0.0000,315.0000,0.0000,0.0000,362.0000,0.0000,0.0000,12.0000,362.0000,0.0000,12.0000,362.0000,0.0000,198.0000,0.0000,0.0000,60.0000,7.0000,0.0000,367.0000,0.0000,0.0000,24.0000,320.0000,0.0000,12.0000,358.0000,0.0000,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,24.0000,320.0000,0.0000,24.0000,320.0000,0.0000,60.0000,119.0000,0.0000,60.0000,119.0000,0.0000,60.0000,119.0000,0.0000,60.0000,119.0000,0.0000,0.0000,-1.0000,NaN,60.0000,119.0000,0.0000,48.0000,180.0000,0.0000,48.0000,180.0000,0.0000,0.0000,-1.0000,NaN,24.0000,119.0000,0.0000,0.0000,-1,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,36.0000,119.0000,0.0000,48.0000,180.0000,0.0000,0.0000,-1.0000,NaN,60.0000,119.0000,0.0000,60.0000,119.0000,0.0000,48.0000,180.0000,0.0000,97.2500,100.0000,119.2917,91.8750,18.0000,100.0000,119.7500,92.0833,18.0000,100.0000,116.0000,90.3333,18.0000,100.0000,128.0000,96.0000,18.0000,0.0000,3.6335,1.7102,0.0000,NaN,NaN,NaN,NaN,1.0000,1.0000,0.0000,0.0000,0.0000,0,0.0271,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,2022-11-21 18:35:13
3941957,*Unspecified,LI NW 1 EMERGENCY DEPT,NYUWH,187.0000,187.5000,2022-10-07 08:57:00,2022-09-29 13:27:00,20220929,NaN,116.0000,81.0000,92.0000,18.0000,37.0030,"2,960.0000",35.0000,100.0000,15.0000,92.6667,52.0000,27.8000,NaN,NaN,NaN,14.0000,0.8000,11.0000,9.8000,101.0000,0.7600,NaN,NaN,102.0000,35.0000,11.8000,NaN,1.9000,NaN,NaN,NaN,2.9000,380.0000,NaN,3.9000,135.0000,6.2000,43.1400,1.0000,0.0000,0.0000,-1.0000,NaN,368.0000,0.0000,0.0000,368.0000,0.0000,0.0000,368.0000,0.0000,0.0000,316.0000,0.0000,0.0000,363.0000,0.0000,0.0000,12.0000,363.0000,0.0000,12.0000,363.0000,0.0000,199.0000,0.0000,0.0000,60.0000,8.0000,0.0000,368.0000,0.0000,0.0000,24.0000,321.0000,0.0000,12.0000,359.0000,0.0000,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,24.0000,321.0000,0.0000,24.0000,321.0000,0.0000,60.0000,120.0000,0.0000,60.0000,120.0000,0.0000,60.0000,120.0000,0.0000,60.0000,120.0000,0.0000,0.0000,-1.0000,NaN,60.0000,120.0000,0.0000,48.0000,181.0000,0.0000,48.0000,181.0000,0.0000,0.0000,-1.0000,NaN,24.0000,120.0000,0.0000,0.0000,-1,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,36.0000,120.0000,0.0000,48.0000,181.0000,0.0000,0.0000,-1.0000,NaN,60.0000,120.0000,0.0000,60.0000,120.0000,0.0000,48.0000,181.0000,0.0000,96.5833,100.0000,118.2917,91.5972,18.0000,100.0000,117.2500,92.0833,18.0000,100.0000,116.0000,90.3333,18.0000,100.0000,121.0000,92.6667,18.0000,0.0000,2.4905,1.1622,0.0000,NaN,NaN,NaN,NaN,1.0000,1.0000,0.0000,0.0000,0.0000,0,0.0258,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,2022-11-21 18:35:13
3941958,*Unspecified,LI NW 1 EMERGENCY DEPT,NYUWH,187.5000,188.0000,2022-10-07 09:27:00,2022-09-29 13:27:00,20220929,NaN,124.0000,84.0000,101.5000,18.0000,37.0030,"2,960.0000",35.0000,100.0000,15.0000,97.3333,52.0000,27.8000,NaN,NaN,NaN,14.0000,0.8000,11.0000,9.8000,101.0000,0.7600,NaN,NaN,102.0000,35.0000,11.8000,NaN,1.9000,NaN,NaN,NaN,2.9000,380.0000,NaN,3.9000,135.0000,6.2000,43.1400,1.0000,0.0000,0.0000,-1.0000,NaN,369.0000,0.0000,8.0000,369.0000,0.0000,3.0000,369.0000,0.0000,9.5000,317.0000,0.0000,0.0000,364.0000,0.0000,0.0000,12.0000,364.0000,0.0000,12.0000,364.0000,0.0000,200.0000,0.0000,0.0000,60.0000,9.0000,0.0000,369.0000,0.0000,4.6667,24.0000,322.0000,0.0000,12.0000,360.0000,0.0000,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,24.0000,322.0000,0.0000,24.0000,322.0000,0.0000,60.0000,121.0000,0.0000,60.0000,121.0000,0.0000,60.0000,121.0000,0.0000,60.0000,121.0000,0.0000,0.0000,-1.0000,NaN,60.0000,121.0000,0.0000,48.0000,182.0000,0.0000,48.0000,182.0000,0.0000,0.0000,-1.0000,NaN,24.0000,121.0000,0.0000,0.0000,-1,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,36.0000,121.0000,0.0000,48.0000,182.0000,0.0000,0.0000,-1.0000,NaN,60.0000,121.0000,0.0000,60.0000,121.0000,0.0000,48.0000,182.0000,0.0000,96.5417,100.0000,118.5417,92.1806,18.0000,100.0000,117.2500,92.6667,18.0000,100.0000,116.0000,90.3333,18.0000,100.0000,124.0000,97.3333,18.0000,0.0000,2.9034,1.9559,0.0000,NaN,NaN,NaN,NaN,1.0000,1.0000,0.0000,0.0000,0.0000,0,0.0246,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,2022-11-21 18:35:13

In [3]:
pred_df_full['ID'].nunique()

14085

In [4]:
intervention_df = pd.read_pickle('data/intervention_prospective_val_20220805_20220930_20221010.pkl')
intervention_df = intervention_df[intervention_df['ID'].isin(pred_df_full['ID'].tolist())]
intervention_df.sort_values(by=['rel_time'], inplace=True)

select_cols = ['ID', 'DischargeInstant',
 'DischargeDateKey',
 'Sepsis_ICD_List',
 'Sepsis_Case',
 'Lactate_Values',
 'Lactate_Ordered',
 'Abx_Medication_Values',
 'Abx_Ordered',
 'Vent_Values',
 'IMV',
 'Vasopressor_Medication_Values',
 'Vasopressor_Ordered',
 'Blood_Culture_Values',
 'Blood_Culture_Ordered',
 'INR_MELD_ResultInstant',
 'INR_MELD_Value']
intervention_df = intervention_df[select_cols]
intervention_df.drop_duplicates(subset=[cols for cols in intervention_df.columns.tolist() if cols not in['Abx_Medication_Values', 'Sepsis_ICD_List', 'Lactate_Values', 'Vent_Values', 'Vasopressor_Medication_Values', 'Blood_Culture_Values']], keep='first',inplace=True)
intervention_df.iloc[:, 3:]

,Sepsis_ICD_List,Sepsis_Case,Lactate_Values,Lactate_Ordered,Abx_Medication_Values,Abx_Ordered,Vent_Values,IMV,Vasopressor_Medication_Values,Vasopressor_Ordered,Blood_Culture_Values,Blood_Culture_Ordered,INR_MELD_ResultInstant,INR_MELD_Value
0,NaN,0.0000,NaN,0.0000,NaN,0.0000,NaN,0.0000,NaN,0.0000,[Positive for MSSA (Methicillin Susceptible St...,1.0000,NaT,NaN
1339248,NaN,0.0000,NaN,0.0000,NaN,0.0000,NaN,0.0000,NaN,0.0000,NaN,0.0000,2022-09-16 00:36:00,1.10
1339247,NaN,0.0000,NaN,0.0000,NaN,0.0000,NaN,0.0000,NaN,0.0000,"[** No MRSA or MSSA isolated., Performed by NY...",1.0000,2022-09-15 21:45:00,1.3
1339246,NaN,0.0000,NaN,0.0000,NaN,0.0000,NaN,0.0000,NaN,0.0000,NaN,0.0000,NaT,NaN
1339245,NaN,0.0000,NaN,0.0000,NaN,0.0000,NaN,0.0000,NaN,0.0000,"[** No MRSA or MSSA isolated., Performed by NY...",1.0000,2022-09-15 20:23:00,0.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1566685,[A41.9],1.0000,NaN,0.0000,NaN,0.0000,NaN,0.0000,NaN,0.0000,NaN,0.0000,NaT,NaN
219752,NaN,0.0000,NaN,0.0000,NaN,0.0000,NaN,0.0000,NaN,0.0000,NaN,0.0000,NaT,NaN
245091,NaN,0.0000,NaN,0.0000,NaN,0.0000,NaN,0.0000,NaN,0.0000,NaN,0.0000,NaT,NaN
1669765,[A41.9],1.0000,NaN,0.0000,NaN,0.0000,NaN,0.0000,NaN,0.0000,NaN,0.0000,NaT,NaN
1801322,NaN,0.0000,NaN,0.0000,NaN,0.0000,NaN,0.0000,NaN,0.0000,NaN,0.0000,NaT,NaN

In [5]:
pred_df_full = pred_df_full.merge(intervention_df, on=['ID'], how='left')
pred_df_full.iloc[:, 3:]

,DepartmentServiceGrouper,DepartmentName,LocationAbbreviation,LOS,rel_time,abs_time,AdmissionInstant,AdmissionDateKey,etco2,SBP,DBP,HR,Resp,Temp,Weight,BMI,SpO2,gcs_total_score,MAP,ALKALINE PHOSPHATASE,APTT,"ARTERIAL PCO2, POC","ARTERIAL PH, POC","ARTERIAL PO2, POC",AST,BILIRUBIN TOTAL,BLOOD UREA NITROGEN,CALCIUM,CHLORIDE,CREATININE,FIBRINOGEN,"FIO2, ABG",GLUCOSE,HEMATOCRIT,HEMOGLOBIN,"LACTATE, ABG",MAGNESIUM,"OXYGEN PERCENT, ABG","PCO2, ABG","PH, ABG","PHOSPHORUS, INORGANIC",PLATELET COUNT,"PO2, ABG",POTASSIUM,SODIUM,WBC,AgeAtAdmissioninYears,sex_Female,sex_Male,etco2_interval_f1,etco2_interval_f2,etco2_diff,SBP_interval_f1,SBP_interval_f2,SBP_diff,DBP_interval_f1,DBP_interval_f2,DBP_diff,HR_interval_f1,HR_interval_f2,HR_diff,Resp_interval_f1,Resp_interval_f2,Resp_diff,Temp_interval_f1,Temp_interval_f2,Temp_diff,Weight_interval_f1,Weight_interval_f2,Weight_diff,BMI_interval_f1,BMI_interval_f2,BMI_diff,SpO2_interval_f1,SpO2_interval_f2,SpO2_diff,gcs_total_score_interval_f1,gcs_total_score_interval_f2,gcs_total_score_diff,MAP_interval_f1,MAP_interval_f2,MAP_diff,ALKALINE PHOSPHATASE_interval_f1,ALKALINE PHOSPHATASE_interval_f2,ALKALINE PHOSPHATASE_diff,APTT_interval_f1,APTT_interval_f2,APTT_diff,"ARTERIAL PCO2, POC_interval_f1","ARTERIAL PCO2, POC_interval_f2","ARTERIAL PCO2, POC_diff","ARTERIAL PH, POC_interval_f1","ARTERIAL PH, POC_interval_f2","ARTERIAL PH, POC_diff","ARTERIAL PO2, POC_interval_f1","ARTERIAL PO2, POC_interval_f2","ARTERIAL PO2, POC_diff",AST_interval_f1,AST_interval_f2,AST_diff,BILIRUBIN TOTAL_interval_f1,BILIRUBIN TOTAL_interval_f2,BILIRUBIN TOTAL_diff,BLOOD UREA NITROGEN_interval_f1,BLOOD UREA NITROGEN_interval_f2,BLOOD UREA NITROGEN_diff,CALCIUM_interval_f1,CALCIUM_interval_f2,CALCIUM_diff,CHLORIDE_interval_f1,CHLORIDE_interval_f2,CHLORIDE_diff,CREATININE_interval_f1,CREATININE_interval_f2,CREATININE_diff,"FIO2, ABG_interval_f1","FIO2, ABG_interval_f2","FIO2, ABG_diff",GLUCOSE_interval_f1,GLUCOSE_interval_f2,GLUCOSE_diff,HEMATOCRIT_interval_f1,HEMATOCRIT_interval_f2,HEMATOCRIT_diff,HEMOGLOBIN_interval_f1,HEMOGLOBIN_interval_f2,HEMOGLOBIN_diff,"LACTATE, ABG_interval_f1","LACTATE, ABG_interval_f2","LACTATE, ABG_diff",MAGNESIUM_interval_f1,MAGNESIUM_interval_f2,MAGNESIUM_diff,"OXYGEN PERCENT, ABG_interval_f1","OXYGEN PERCENT, ABG_interval_f2","OXYGEN PERCENT, ABG_diff","PCO2, ABG_interval_f1","PCO2, ABG_interval_f2","PCO2, ABG_diff","PH, ABG_interval_f1","PH, ABG_interval_f2","PH, ABG_diff","PHOSPHORUS, INORGANIC_interval_f1","PHOSPHORUS, INORGANIC_interval_f2","PHOSPHORUS, INORGANIC_diff",PLATELET COUNT_interval_f1,PLATELET COUNT_interval_f2,PLATELET COUNT_diff,"PO2, ABG_interval_f1","PO2, ABG_interval_f2","PO2, ABG_diff",POTASSIUM_interval_f1,POTASSIUM_interval_f2,POTASSIUM_diff,SODIUM_interval_f1,SODIUM_interval_f2,SODIUM_diff,WBC_interval_f1,WBC_interval_f2,WBC_diff,HR_mean,O2Sat_mean,SBP_mean,MAP_mean,Resp_mean,O2Sat_median,SBP_median,MAP_median,Resp_median,O2Sat_min,SBP_min,MAP_min,Resp_min,O2Sat_max,SBP_max,MAP_max,Resp_max,O2Sat_std,SBP_std,MAP_std,Resp_std,O2Sat_dstd,SBP_dstd,MAP_dstd,Resp_dstd,HR_score,Temp_score,Resp_score,MAP_score,qsofa,SIRS,PredictedProbability,SepsisLabel_0.005,SepsisLabel_0.01,SepsisLabel_0.02,SepsisLabel_0.03,SepsisLabel_0.04,SepsisLabel_0.05,SepsisLabel_0.06,SepsisLabel_0.07,SepsisLabel_0.09,SepsisLabel_0.1,SepsisLabel_0.15,SepsisLabel_0.2,SepsisLabel_0.25,SepsisLabel_0.3,SepsisLabel_0.4,SepsisLabel_0.5,Prediction_Time,DischargeInstant,DischargeDateKey,Sepsis_ICD_List,Sepsis_Case,Lactate_Values,Lactate_Ordered,Abx_Medication_Values,Abx_Ordered,Vent_Values,IMV,Vasopressor_Medication_Values,Vasopressor_Ordered,Blood_Culture_Values,Blood_Culture_Ordered,INR_MELD_ResultInstant,INR_MELD_Value
0,*Unspecified,TH 6 MAIN PERI-OP,Tisch,0.0000,0.5000,2022-08-03 06:36:00,2022-08-03 06:06:00,20220803,NaN,132.0000,76.0000,88.0000,15.0000,36.1140,"3,086.4400",33.1100,97.0000,NaN,94.6667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,69.1657,0.0000,1.0000,0.0000,-1.0000,NaN,1.0000,0.0000,NaN,1.0000,0.0000,NaN,1.0000,0.0000,NaN,1.0000,0.0000,NaN,1.0000,0.0000,NaN,1.0000,0.0000,NaN,1.0000,0.0000,NaN,1.0000,0.0000,NaN,0.0000,-1.0000,NaN,1.0000,0.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,88.0000,97.0000,132.0000,94.6667,15.0000,97.0000,132.0000,94.6667,15.0000,97.0000,132.0000,94.6667,15.0000,97.0000,132.0000,94.6667,15.0000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0000,1.0000,0.0000,0.0000,0.0000,0,0.0228,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,2022-11-21 18:35:13,2022-08-08 11:33:00,20220808,NaN,0.0000,NaN,0.0000,NaN,0.0000,NaN,0.0000,NaN,0.0000,[Positive for MSSA (Methicillin Susceptible St...,1.0000,NaT,NaN
1,*Unspecified,TH 6 MAIN PERI-OP,Tisch,0.5000,1.0000,2022-08-03 07:06:00,2022-08-03 06:06:00,20220803,NaN,132.0000,76.0000,88.0000,15.0000,36.1140,"3,086.4400",33.1100,97.0000,NaN,94.6667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,69.1657,0.0000,1.0000,0.0000,-1.0000,NaN,2.0000,0.0000,0.0000,2.0000,0.0000,0.0000,2.0000,0.0000,0.0000,2.0000,0.0000,0.0000,2.0000,0.0000,0.0000,2.0000,0.0000,0.0000,2.0000,0.0000,0.0000,2.0000,0.0000,0.0000,0.0000,-1.0000,NaN,2.0000,0.0000,0.0000,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,88.0000,97.0000,132.0000,94.6667,15.0000,97.0000,132.0000,94.6667,15.0000,97.0000,132.0000,94.6667,15.0000,97.0000,132.0000,94.6667,15.0000,0.0000,0.0000,0.0000,0.0000,NaN,NaN,NaN,NaN,0.0000,1.0000,0.0000,0.0000,0.0000,0,0.0068,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2022-11-21 18:35:13,2022-08-08 11:33:00,20220808,NaN,0.0000,NaN,0.0000,NaN,0.0000,NaN,0.0000,NaN,0.0000,[Positive for MSSA (Methicillin Susceptible St...,1.0000,NaT,NaN
2,*Unspecified,TH 6 MAIN PERI-OP,Tisch,1.0000,1.5000,2022-08-03 07:36:00,2022-08-03 06:06:00,20220803,NaN,132.0000,76.0000,88.0000,15.0000,36.1140,"3,086.4400",33.1100,97.0000,NaN,94.6667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,69.1657,0.0000,1.0000,0.0000,-1.0000,NaN,3.0000,0.0000,0.0000,3.0000,0.0000,0.0000,3.0000,0.0000,0.0000,3.0000,0.0000,0.0000,3.0000,0.0000,0.0000,3.0000,0.0000,0.0000,3.0000,0.0000,0.0000,3.0000,0.0000,0.0000,0.0000,-1.0000,NaN,3.0000,0.0000,0.0000,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,88.0000,97.0000,132.0000,94.6667,15.0000,97.0000,132.0000,94.6667,15.0000,97.0000,132.0000,94.6667,15.0000,97.0000,132.0000,94.6667,15.0000,0.0000,0.0000,0.0000,0.0000,NaN,NaN,NaN,NaN,0.0000,1.0000,0.0000,0.0000,0.0000,0,0.0068,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2022-11-21 18:35:13,2022-08-08 11:33:00,20220808,NaN,0.0000,NaN,0.0000,NaN,0.0000,NaN,0.0000,NaN,0.0000,[Positive for MSSA (Methicillin Susceptible St...,1.0000,NaT,NaN
3,*Unspecified,TH 6 MAIN PERI-OP,Tisch,1.5000,2.0000,2022-08-03 08:06:00,2022-08-03 06:06:00,20220803,NaN,132.0000,76.0000,88.0000,15.0000,36.1140,"3,086.4400",33.1100,97.0000,NaN,94.6667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,69.1657,0.0000,1.0000,0.0000,-1.0000,NaN,4.0000,0.0000,0.0000,4.0000,0.0000,0.0000,4.0000,0.0000,0.0000,4.0000,0.0000,0.0000,4.0000,0.0000,0.0000,4.0000,0.0000,0.0000,4.0000,0.0000,0.0000,4.0000,0.0000,0.0000,0.0000,-1.0000,NaN,4.0000,0.0000,0.0000,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,88.0000,97.0000,132.0000,94.6667,15.0000,97.0000,132.0000,94.6667,15.0000,97.0000,132.0000,94.6667,15.0000,97.0000,132.0000,94.6667,15.0000,0.0000,0.0000,0.0000,0.0000,NaN,NaN,NaN,NaN,0.0000,1.0000,0.0000,0.0000,0.0000,0,0.0068,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2022-11-21 18:35:13,2022-08-08 11:33:00,20220808,NaN,0.0000,NaN,0.0000,NaN,0.0000,NaN,0.0000,NaN,0.0000,[Positive for MSSA (Methicillin Susceptible St...,1.0000,NaT,NaN
4,*Unspecified,TH 6 MAIN PERI-OP,Tisch,2.0000,2.5000,2022-08-03 08:36:00,2022-08-03 06:06:00,20220803,NaN,132.0000,76.0000,88.0000,15.0000,36.1140,"3,086.4400",33.1100,97.0000,NaN,94.6667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,69.1657,0.0000,1.0000,0.0000,-1.0000,NaN,5.0000,0.0000,0.0000,5.0000,0.0000,0.0000,5.0000,0.0000,0.0000,5.0000,0.0000,0.0000,5.0000,0.0000,0.0000,5.0000,0.0000,0.0000,5.0000,0.0000,0.0000,5.0000,0.0000,0.0000,0.0000,-1.0000,NaN,5.0000,0.0000,0.0000,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,88.0000,97.0000,132.0000,94.6667,15.0000,97.0000,132.0000,94.6667,15.0000,97.0000,132.0000,94.6667,15.0000,97.0000,132.0000,94.6667,15.0000,0.0000,0.0000,0.0000,0.0000,NaN,NaN,NaN,NaN,0.0000,1.0000,0.0000,0.0000,0.0000,0,0.0061,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2022-11-21 18:35:13,2022-08-08 11:33:00,20220808,NaN,0.0000,NaN,0.0000,NaN,0.0000,NaN,0.0000,NaN,0.0000,[Positive for MSSA (Methicillin Susceptible St...,1.0000,NaT,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3925883,*Unspecified,LI NW 1 EMERGENCY DEPT,NYUWH,185.5000,186.0000,2022-10-07 07:27:00,2022-09-29 13:27:00,20220929,NaN,116.0000,81.0000,92.0000,18.0000,37.0030,"2,960.0000",35.0000,100.0000,15.0000,92.6667,52.0000,27.8000,NaN,NaN,NaN,14.0000,0.8000,11.0000,9.8000,101.0000,0.7600,NaN,NaN,102.0000,35.0000,11.8000,NaN,1.9000,NaN,NaN,NaN,2.9000,380.0000,NaN,3.9000,135.0000,6.2000,43.1400,1.0000,0.0000,0.0000,-1.0000,NaN,365.0000,0.0000,0.0000,365.0000,0.0000,0.0000,365.0000,0.0000,0.0000,313.0000,0.0000,0.0000,360.0000,0.0000,0.0000,12.0000,360.0000,0.0000,12.0000,360.0000,0.0000,197.0000,37.0000,0.0000,60.0000,5.0000,0.0000,365.0000,0.0000,0.0000,24.0000,318.0000,0.0000,12.0000,356.0000,0.0000,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,24.0000,318.0000,0.0000,24.0000,318.0000,0.0000,60.0000,117.0000,0.0000,60.0000,117.0000,0.0000,60.0000,117.0000,0.0000,60.0000,117.0000,0.0000,0.0000,-1.0000,NaN,60.0000,117.0000,0.0000,48.0000,178.0000,0.0000,48.0000,178.0000,0.0000,0.0000,-1.0000,NaN,24.0000,117.0000,0.0000,0.0000,-1,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,36.0000,117.0000,0.0000,48.0000,178.0000,0.0000,0.0000,-1.0000,NaN,60.0000,117.0000,0.0000,60.0000,117.0000,0.0000,48.0000,178.0000,0.0000,98.5833,100.0000,121.2917,92.4306,18.0000,100.0000,121.0000,92.0833,18.0000,100.0000,116.0000,90.3333,18.0000,100.0000,128.0000,96.0000,18.0000,0.0000,4.5450,2.3597,0.0000,2.1213,2.1213,9.6638,0.7071,1.0000,1.0000,0.0000,0.0000,0.0000,0,0.0260,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,2022-11-21 18:35:13,2022-10-07 09:44:00,20221007,NaN,0.0000,NaN,0.0000,NaN,0.0000,NaN,0.0000,NaN,0.0000,"[<1,000 CFU/mL, Performed by NYULH Long Island...",1.0000,2022-09-29 15:46:00,1.41
3925884,*Unspecified,LI NW 1 EMERGENCY DEPT,NYUWH,186.0000,186.5000,2022-10-07 07:57:00,2022-09-29 13:27:00,20220929,NaN,116.0000,81.0000,92.0000,18.0000,37.0030,"2,960.0000",35.0000,100.0000,15.0000,92.6667,52.0000,27.8000,NaN,NaN,NaN,14.0000,0.8000,11.0000,9.8000,101.0000,0.7600,NaN,NaN,102.0000,35.0000,11.8000,NaN,1.9000,NaN,NaN,NaN,2.9000,380.0000,NaN,3.9000,135.0000,6.2000,43.1400,1.0000,0.0000,0.0000,-1.0000,NaN,366.0000,0.0000,0.0000,366.0000,0.0000,0.0000,366.0000,0.0000,0.0000,314.0000,0.0000,0.0000,361.0000,0.0000,0.0000,12.0000,361.0000,0.0000,12.0000,361.0000,0.0000,197.0000,38.0000,0.0000,60.0000,6.0000,0.0000,366.0000,0.0000,0.0000,24.0000,319.0000,0.0000,12.0000,357.0000,0.0000,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,24.0000,319.0000,0.0000,24.0000,319.0000,0.0000,60.0000,118.0000,0.0000,60.0000,118.0000,0.0000,60.0000,118.0000,0.0000,60.0000,118.0000,0.0000,0.0000,-1.0000,NaN,60.0000,118.0000,0.0000,48.0000,179.0000,0.0000,48.0000,179.0000,0.0000,0.0000,-1.0000,NaN,24.0000,118.0000,0.0000,0.0000,-1,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,36.0000,118.0000,0.0000,48.0000,179.0000,0.0000,0.0000,-1.0000,NaN,60.0000,118.0000,0.0000,60.0000,118.0000,0.0000,48.0000,179.0000,0.0000,97.9167,100.0000,120.2917,92.1528,18.0000,100.0000,121.0000,92.0833,18.0000,100.0000,116.0000,90.3333,18.0000,100.0000,128.0000,96.0000,18.0000,0.0000,4.2451,2.0810,0.0000,2.0817,5.1316,8.3022,0.5774,1.0000,1.0000,0.0000,0.0000,0.0000,0,0.0271,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,2022-11-21 18:35:13,2022-10-07 09:44:00,20221007,NaN,0.0000,NaN,0.0000,NaN,0.0000,NaN,0.0000,NaN,0.0000,"[<1,000 CFU/mL, Performed by NYULH Long Island...",1.0000,2022-09-29 15:46:00,1.41
3925885,*Unspecified,LI NW 1 EMERGENCY DEPT,NYUWH,186.5000,187.0000,2022-10-07 08:27:00,2022-09-29 13:27:00,20220929,NaN,116.0000,81.0000,92.0000,18.0000,37.0030,"2,960.0000",35.0000,100.0000,15.0000,92.6667,52.0000,27.8000,NaN,NaN,NaN,14.0000,0.8000,11.0000,9.8000,101.0000,0.7600,NaN,NaN,102.0000,35.0000,11.8000,NaN,1.9000,NaN,NaN,NaN,2.9000,380.0000,NaN,3.9000,135.0000,6.2000,43.1400,1.0000,0.0000,0.0000,-1.0000,NaN,367.0000,0.0000,0.0000,367.0000,0.0000,0.0000,367.0000,0.0000,0.0000,315.0000,0.0000,0.0000,362.0000,0.0000,0.0000,12.0000,362.0000,0.0000,12.0000,362.0000,0.0000,198.0000,0.0000,0.0000,60.0000,7.0000,0.0000,367.0000,0.0000,0.0000,24.0000,320.0000,0.0000,12.0000,358.0000,0.0000,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,24.0000,320.0000,0.0000,24.0000,320.0000,0.0000,60.0000,119.0000,0.0000,60.0000,119.0000,0.0000,60.0000,119.0000,0.0000,60.0000,119.0000,0.0000,0.0000,-1.0000,NaN,60.0000,119.0000,0.0000,48.0000,180.0000,0.0000,48.0000,180.0000,0.0000,0.0000,-1.0000,NaN,24.0000,119.0000,0.0000,0.0000,-1,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,36.0000,119.0000,0.0000,48.0000,180.0000,0.0000,0.0000,-1.0000,NaN,60.0000,119.0000,0.0000,60.0000,119.0000,0.0000,48.0000,180.0000,0.0000,97.2500,100.0000,119.2917,91.8750,18.0000,100.0000,119.7500,92.0833,18.0000,100.0000,116.0000,90.3333,18.0000,100.0000,128.0000,96.0000,18.0000,0.0000,3.6335,1.7102,0.0000,NaN,NaN,NaN,NaN,1.0000,1.0000,0.0000,0.0000,0.0000,0,0.0271,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,2022-11-21 18:35:13,2022-10-07 09:44:00,20221007,NaN,0.0000,NaN,0.0000,NaN,0.0000,NaN,0.0000,NaN,0.0000,"[<1,000 CFU/mL, Performed by NYULH Long Island...",1.0000,2022-09-29 15:46:00,1.41
3925886,*Unspecified,LI NW 1 EMERGENCY DEPT,NYUWH,187.0000,187.5000,2022-10-07 08:57:00,2022-09-29 13:27:00,20220929,NaN,116.0000,81.0000,92.0000,18.0000,37.0030,"2,960.0000",35.0000,100.0000,15.0000,92.6667,52.0000,27.8000,NaN,NaN,NaN,14.0000,0.8000,11.0000,9.8000,101.0000,0.7600,NaN,NaN,102.0000,35.0000,11.8000,NaN,1.9000,NaN,NaN,NaN,2.9000,380.0000,NaN,3.9000,135.0000,6.2000,43.1400,1.0000,0.0000,0.0000,-1.0000,NaN,368.0000,0.0000,0.0000,368.0000,0.0000,0.0000,368.0000,0.0000,0.0000,316.0000,0.0000,0.0000,363.0000,0.0000,0.0000,12.0000,363.0000,0.0000,12.0000,363.0000,0.0000,199.0000,0.0000,0.0000,60.0000,8.0000,0.0000,368.0000,0.0000,0.0000,24.0000,321.0000,0.0000,12.0000,359.0000,0.0000,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,24.0000,321.0000,0.0000,24.0000,321.0000,0.0000,60.0000,120.0000,0.0000,60.0000,120.0000,0.0000,60.0000,120.0000,0.0000,60.0000,120.0000,0.0000,0.0000,-1.0000,NaN,60.0000,120.0000,0.0000,48.0000,181.0000,0.0000,48.0000,181.0000,0.0000,0.0000,-1.0000,NaN,24.0000,120.0000,0.0000,0.0000,-1,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,36.0000,120.0000,0.0000,48.0000,181.0000,0.0000,0.0000,-1.0000,NaN,60.0000,120.0000,0.0000,60.0000,120.0000,0.0000,48.0000,181.0000,0.0000,96.5833,100.0000,118.2917,91.5972,18.0000,100.0000,117.2500,92.0833,18.0000,100.0000,116.0000,90.3333,18.0000,100.0000,121.0000,92.6667,18.0000,0.0000,2.4905,1.1622,0.0000,NaN,NaN,NaN,NaN,1.0000,1.0000,0.0000,0.0000,0.0000,0,0.0258,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,2022-11-21 18:35:13,2022-10-07 09:44:00,20221007,NaN,0.0000,NaN,0.0000,NaN,0.0000,NaN,0.0000,NaN,0.0000,"[<1,000 CFU/mL, Performed by NYULH Long Island...",1.0000,2022-09-29 15:46:00,1.41

In [6]:
pred_df_full.dropna(subset=['DischargeInstant'], inplace=True) #include only encounters that have been discharged.

In [7]:
pred_df_full['ID'].nunique()

13816

# II. Choose High Risk Group and Medium Risk Group

In [8]:
pred_df_full.sort_values(by=['rel_time'], inplace=True)
pos_df = pred_df_full[pred_df_full[f'SepsisLabel_0.5'] == 1]
pos_df.drop_duplicates(subset=['ID'], keep='first', inplace=True)
pos_df['Sepsis_Grouper'] = f'High Risk, ML Sepsis Score (0.5, 1.0], N={pos_df.shape[0]}'
    
neg_df = pred_df_full[~pred_df_full['ID'].isin(pos_df['ID'].tolist())] #subset of encounters who NEVER crossed 0.5 threshold.

print(f'With 0.25 as the min default threshold, find the upper threshold that produces a similar \nN={pos_df.shape[0]} as in the high risk group')
print('---' * 20)
thresholds = [0.26, 0.27, 0.28, 0.29, 0.30, 0.31, 0.32, 0.33, 0.34, 0.35]
for upper_threshold in thresholds:
    df = neg_df.query(f'0.25 <= PredictedProbability < {upper_threshold}')
    df.drop_duplicates(subset=['ID'], keep='first', inplace=True)
    print(f'min threshold: 0.25, max threshold: {upper_threshold}, {df.shape}')

/gpfs/share/apps/anaconda3/gpu/5.2.0/envs/machinelearning/lib/python3.8/site-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)
<ipython-input-8-4e35d5dfe08e>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pos_df['Sepsis_Grouper'] = f'High Risk, ML Sepsis Score (0.5, 1.0], N={pos_df.shape[0]}'

With 0.25 as the min default threshold, find the upper threshold that produces a similar
N=1834 as in the high risk group
------------------------------------------------------------
min threshold: 0.25, max threshold: 0.26, (1257, 228)
min threshold: 0.25, max threshold: 0.27, (1536, 228)
min threshold: 0.25, max threshold: 0.28, (1637, 228)
min threshold: 0.25, max threshold: 0.29, (1704, 228)
min threshold: 0.25, max threshold: 0.3, (1797, 228)
min threshold: 0.25, max threshold: 0.31, (1844, 228)
min threshold: 0.25, max threshold: 0.32, (1934, 228)
min threshold: 0.25, max threshold: 0.33, (1965, 228)
min threshold: 0.25, max threshold: 0.34, (1987, 228)
min threshold: 0.25, max threshold: 0.35, (2002, 228)

In [9]:
#Get Medium and High Risk Group
min_threshold = 0.25
max_threshold = 0.31 #N=1844 is closest to N=1834 for the high risk group
neg_df = neg_df.query(f'{min_threshold} <= PredictedProbability < {max_threshold}')
neg_df.drop_duplicates(subset=['ID'], keep='first', inplace=True)
neg_df['Sepsis_Grouper'] = f'Medium Risk, ML Sepsis Score [0.25, 0.31), N={neg_df.shape[0]}'
at_risk_df = pd.concat([pos_df, neg_df])

#Combine with all encounters not in Medium and High Risk Group
other_encounters = pred_df_full[~pred_df_full['ID'].isin(at_risk_df['ID'].tolist())]
other_encounters.sort_values(by=['rel_time'], inplace=True)
other_encounters.drop_duplicates(subset=['ID'], keep='first', inplace=True)
other_encounters['Sepsis_Grouper'] = np.nan

final_df = pd.concat([at_risk_df, other_encounters])
final_df.iloc[:, 3:]

<ipython-input-9-61aea482deaa>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  other_encounters['Sepsis_Grouper'] = np.nan

,DepartmentServiceGrouper,DepartmentName,LocationAbbreviation,LOS,rel_time,abs_time,AdmissionInstant,AdmissionDateKey,etco2,SBP,DBP,HR,Resp,Temp,Weight,BMI,SpO2,gcs_total_score,MAP,ALKALINE PHOSPHATASE,APTT,"ARTERIAL PCO2, POC","ARTERIAL PH, POC","ARTERIAL PO2, POC",AST,BILIRUBIN TOTAL,BLOOD UREA NITROGEN,CALCIUM,CHLORIDE,CREATININE,FIBRINOGEN,"FIO2, ABG",GLUCOSE,HEMATOCRIT,HEMOGLOBIN,"LACTATE, ABG",MAGNESIUM,"OXYGEN PERCENT, ABG","PCO2, ABG","PH, ABG","PHOSPHORUS, INORGANIC",PLATELET COUNT,"PO2, ABG",POTASSIUM,SODIUM,WBC,AgeAtAdmissioninYears,sex_Female,sex_Male,etco2_interval_f1,etco2_interval_f2,etco2_diff,SBP_interval_f1,SBP_interval_f2,SBP_diff,DBP_interval_f1,DBP_interval_f2,DBP_diff,HR_interval_f1,HR_interval_f2,HR_diff,Resp_interval_f1,Resp_interval_f2,Resp_diff,Temp_interval_f1,Temp_interval_f2,Temp_diff,Weight_interval_f1,Weight_interval_f2,Weight_diff,BMI_interval_f1,BMI_interval_f2,BMI_diff,SpO2_interval_f1,SpO2_interval_f2,SpO2_diff,gcs_total_score_interval_f1,gcs_total_score_interval_f2,gcs_total_score_diff,MAP_interval_f1,MAP_interval_f2,MAP_diff,ALKALINE PHOSPHATASE_interval_f1,ALKALINE PHOSPHATASE_interval_f2,ALKALINE PHOSPHATASE_diff,APTT_interval_f1,APTT_interval_f2,APTT_diff,"ARTERIAL PCO2, POC_interval_f1","ARTERIAL PCO2, POC_interval_f2","ARTERIAL PCO2, POC_diff","ARTERIAL PH, POC_interval_f1","ARTERIAL PH, POC_interval_f2","ARTERIAL PH, POC_diff","ARTERIAL PO2, POC_interval_f1","ARTERIAL PO2, POC_interval_f2","ARTERIAL PO2, POC_diff",AST_interval_f1,AST_interval_f2,AST_diff,BILIRUBIN TOTAL_interval_f1,BILIRUBIN TOTAL_interval_f2,BILIRUBIN TOTAL_diff,BLOOD UREA NITROGEN_interval_f1,BLOOD UREA NITROGEN_interval_f2,BLOOD UREA NITROGEN_diff,CALCIUM_interval_f1,CALCIUM_interval_f2,CALCIUM_diff,CHLORIDE_interval_f1,CHLORIDE_interval_f2,CHLORIDE_diff,CREATININE_interval_f1,CREATININE_interval_f2,CREATININE_diff,"FIO2, ABG_interval_f1","FIO2, ABG_interval_f2","FIO2, ABG_diff",GLUCOSE_interval_f1,GLUCOSE_interval_f2,GLUCOSE_diff,HEMATOCRIT_interval_f1,HEMATOCRIT_interval_f2,HEMATOCRIT_diff,HEMOGLOBIN_interval_f1,HEMOGLOBIN_interval_f2,HEMOGLOBIN_diff,"LACTATE, ABG_interval_f1","LACTATE, ABG_interval_f2","LACTATE, ABG_diff",MAGNESIUM_interval_f1,MAGNESIUM_interval_f2,MAGNESIUM_diff,"OXYGEN PERCENT, ABG_interval_f1","OXYGEN PERCENT, ABG_interval_f2","OXYGEN PERCENT, ABG_diff","PCO2, ABG_interval_f1","PCO2, ABG_interval_f2","PCO2, ABG_diff","PH, ABG_interval_f1","PH, ABG_interval_f2","PH, ABG_diff","PHOSPHORUS, INORGANIC_interval_f1","PHOSPHORUS, INORGANIC_interval_f2","PHOSPHORUS, INORGANIC_diff",PLATELET COUNT_interval_f1,PLATELET COUNT_interval_f2,PLATELET COUNT_diff,"PO2, ABG_interval_f1","PO2, ABG_interval_f2","PO2, ABG_diff",POTASSIUM_interval_f1,POTASSIUM_interval_f2,POTASSIUM_diff,SODIUM_interval_f1,SODIUM_interval_f2,SODIUM_diff,WBC_interval_f1,WBC_interval_f2,WBC_diff,HR_mean,O2Sat_mean,SBP_mean,MAP_mean,Resp_mean,O2Sat_median,SBP_median,MAP_median,Resp_median,O2Sat_min,SBP_min,MAP_min,Resp_min,O2Sat_max,SBP_max,MAP_max,Resp_max,O2Sat_std,SBP_std,MAP_std,Resp_std,O2Sat_dstd,SBP_dstd,MAP_dstd,Resp_dstd,HR_score,Temp_score,Resp_score,MAP_score,qsofa,SIRS,PredictedProbability,SepsisLabel_0.005,SepsisLabel_0.01,SepsisLabel_0.02,SepsisLabel_0.03,SepsisLabel_0.04,SepsisLabel_0.05,SepsisLabel_0.06,SepsisLabel_0.07,SepsisLabel_0.09,SepsisLabel_0.1,SepsisLabel_0.15,SepsisLabel_0.2,SepsisLabel_0.25,SepsisLabel_0.3,SepsisLabel_0.4,SepsisLabel_0.5,Prediction_Time,DischargeInstant,DischargeDateKey,Sepsis_ICD_List,Sepsis_Case,Lactate_Values,Lactate_Ordered,Abx_Medication_Values,Abx_Ordered,Vent_Values,IMV,Vasopressor_Medication_Values,Vasopressor_Ordered,Blood_Culture_Values,Blood_Culture_Ordered,INR_MELD_ResultInstant,INR_MELD_Value,Sepsis_Grouper
284325,*Unspecified,LI NW 1 MB 1400,NYUWH,0.0000,0.5000,2022-07-24 21:13:00,2022-07-24 20:43:00,20220724,NaN,82.5000,50.0000,91.0000,21.0000,36.7252,"1,760.0000",23.8500,100.0000,NaN,61.1667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,86.0685,1.0000,0.0000,0.0000,-1.0000,NaN,1.0000,0.0000,NaN,1.0000,0.0000,NaN,1.0000,0.0000,NaN,1.0000,0.0000,NaN,1.0000,0.0000,NaN,1.0000,0.0000,NaN,1.0000,0.0000,NaN,1.0000,0.0000,NaN,0.0000,-1.0000,NaN,1.0000,0.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,91.0000,100.0000,82.5000,61.1667,21.0000,100.0000,82.5000,61.1667,21.0000,100.0000,82.5000,61.1667,21.0000,100.0000,82.5000,61.1667,21.0000,NaN,NaN,NaN,NaN,1.9445,28.6378,10.9602,7.2478,1.0000,1.0000,2.0000,1.0000,0.0000,1,0.6468,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,2022-11-21 18:35:13,2022-08-16 11:59:00,20220816,NaN,0.0000,NaN,0.0000,NaN,0.0000,NaN,0.0000,NaN,0.0000,[Performed by NYULH Long Island Clinical Labs....,1.0000,NaT,NaN,"High Risk, ML Sepsis Score (0.5, 1.0], N=1834"
281505,Medicine ICU,LI NW 3 HP 3500 MICU,NYUWH,0.0000,0.5000,2022-07-24 10:07:00,2022-07-24 09:37:00,20220724,NaN,77.0000,48.0000,73.0000,23.0000,33.2804,"3,200.0000",0.0000,93.0000,NaN,57.6667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.9000,NaN,NaN,67.0000,7.0300,NaN,NaN,109.0000,NaN,NaN,NaN,62.5897,0.0000,1.0000,0.0000,-1.0000,NaN,1.0000,0.0000,NaN,1.0000,0.0000,NaN,1.0000,0.0000,NaN,1.0000,0.0000,NaN,1.0000,0.0000,NaN,1.0000,0.0000,NaN,1.0000,0.0000,NaN,1.0000,0.0000,NaN,0.0000,-1.0000,NaN,1.0000,0.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,1.0000,0.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1,NaN,1.0000,0.0000,NaN,1.0000,0.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,1.0000,0.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,73.0000,93.0000,77.0000,57.6667,23.0000,93.0000,77.0000,57.6667,23.0000,93.0000,77.0000,57.6667,23.0000,93.0000,77.0000,57.6667,23.0000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0000,1.0000,2.0000,1.0000,1.0000,1,0.8311,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,2022-11-21 18:35:13,2022-08-11 15:45:00,20220811,"[A40.3, R65.21]",1.0000,"[1.9, 0.7, 1.0, 1.1, 1.1, 1.3, 0.9, 0.9, 0.7, ...",1.0000,"[AZITHROMYCIN 500 MG IN 250ML NS, AZITHROMYCIN...",1.0000,"[endotracheal tube, endotracheal tube, INTUBAT...",1.0000,[NOREPINEPHRINE BITARTRATE 4 MG/250 ML (16 MCG...,1.0000,"[Serratia marcescens, Staphylococcus aureus, P...",1.0000,2022-07-24 10:07:00,0.95,"High Risk, ML Sepsis Score (0.5, 1.0], N=1834"
1896025,Surgery ICU/SDU,TH KP 13,Tisch,0.0000,0.5000,2022-08-24 15:06:00,2022-08-24 14:36:00,20220824,33.5000,NaN,NaN,97.0000,17.2000,NaN,NaN,NaN,99.0000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,62.1166,0.0000,1.0000,1.0000,0.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,1.0000,0.0000,NaN,1.0000,0.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,1.0000,0.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,97.0000,99.0000,NaN,NaN,17.2000,99.0000,NaN,NaN,17.2000,99.0000,NaN,NaN,17.2000,99.0000,NaN,NaN,17.2000,NaN,NaN,NaN,NaN,1.9738,14.5459,24.0618,4.0588,1.0000,NaN,0.0000,NaN,NaN,0,0.5176,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,2022-11-21 18:35:13,2022-08-25 18:19:00,20220825,NaN,0.0000,"[1.0, 1.3, 1.2, 1.1]",1.0000,[VANCOMYCIN IN 0.9% SODIUM CL 1750 MG/500 ML I...,1.0000,"[endotracheal tube, endotracheal tube, endotra...",1.0000,"[DOBUTAMINE 500 MG/250 ML (2,000 MCG/ML) IN 5 ...",1.0000,NaN,0.0000,2022-08-24 16:56:00,2.0,"High Risk, ML Sepsis Score (0.5, 1.0], N=1834"
1904039,Emergency,TH EMERGENCY DEPT,Tisch,0.0000,0.5000,2022-08-24 17:42:00,2022-08-24 17:12:00,20220824,NaN,136.5000,70.5000,116.0000,16.5000,38.5031,"2,320.0000",28.3200,94.0000,NaN,92.5000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,69.4052,1.0000,0.0000,0.0000,-1.0000,NaN,1.0000,0.0000,NaN,1.0000,0.0000,NaN,1.0000,0.0000,NaN,1.0000,0.0000,NaN,1.0000,0.0000,NaN,1.0000,0.0000,NaN,1.0000,0.0000,NaN,1.0000,0.0000,NaN,0.0000,-1.0000,NaN,1.0000,0.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,116.0000,94.0000,136.5000,92.5000,16.5000,94.0000,136.5000,92.5000,16.5000,94.0000,136.5000,92.5000,16.5000,94.0000,136.5000,92.5000,16.5000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0000,1.0000,0.0000,0.0000,0.0000,1,0.6002,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,2022-11-21 18:35:13,2022-08-30 10:48:00,20220830,"[A41.9, A41.9, R65.20]",1.0000,NaN,0.0000,NaN,0.0000,NaN,0.0000,NaN,0.0000,"[Performed by NYU Langone Hospitals, Tisch Lab...",1.0000,2022-08-24 19:44:00,1.5,"High Risk, ML Sepsis Score (0.5, 1.0], N=1834"
1969117,Emergency,TH CH EMERG DEPT,Tisch,0.0000,0.5000,2022-08-25 03:06:00,2022-08-25 02:36:00,20220825,NaN,103.0000,86.0000,149.0000,36.0000,37.1696,"1,920.0000",21.2600,98.0000,NaN,91.6667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,63.6977,1.0000,0.0000,0.0000,-1.0000,NaN,1.0000,0.0000,NaN,1.0000,0.0000,NaN,1.0000,0.0000,NaN,1.0000,0.0000,NaN,1.0000,0.0000,NaN,1.0000,0.0000,NaN,1.0000,0.0000,NaN,1.0000,0.0000,NaN,0.0000,-1.0000,NaN,1.0000,0.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,149.0000,98.0000,103.0000,91.6667,36.0000,98.0000,103.0000,91.6667,36.0000,98.0000,103.0000,91.6667,36.0000,98.0000,103.0000,91.6667,36.0000,NaN,NaN,NaN,NaN,3.5355,NaN,NaN,NaN,3.0000,1.0000,3.0000,0.0000,0.0000,1,0.5819,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,2022-11-21 18:35:13,2022-09-02 17:32:00,20220902,NaN,0.0000,NaN,0.0000,NaN,0.0000,NaN,0.0000,NaN,0.0000,NaN,0.0000,2022-08-25 04:07:00,1.1,"High Risk, ML Sepsis Score (0.5, 1.0], N=1834"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2808168,Medicine,LI NW 6 HP 6500,NYUWH,0.0000,15.5000,2022-09-09 07:26:00,2022-09-08 15:56:00,20220908,NaN,90.0000,61.0000,62.0000,20.0000,36.6140,NaN,NaN,95.0000,NaN,70.6667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,71.8691,1.0000,0.0000,0.0000,-1.0000,NaN,1.0000,0.0000,NaN,1.0000,0.0000,NaN,1.0000,0.0000,NaN,1.0000,0.0000,NaN,1.0000,0.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,1.0000,0.0000,NaN,0.0000,-1.0000,NaN,1.0000,0.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,62.0000,95.0000,90.0000,70.6667,20.0000,95.0000,90.0000,70.6667,20.0000,95.0000,90.0000,70.6667,20.0000,95.0000,90.0000,70.6667,20.0000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0000,1.0000,0.0000,0.0000,0.0000,0,0.1650,1,1,1,1,1,1,1,1,1,1,1,0,0,0,0,0,2022-11-21 18:35:13,2022-09-12 04:07:00,20220912,[A41.9],1.0000,NaN,0.0000,NaN,0.0000,NaN,0.0000,NaN,0.0000,NaN,0.0000,NaT,NaN,NaN
1762458,Medicine,LI NW 5 HP 5500,NYUWH,0.0000,16.5000,2022-08-23 08:18:00,2022-08-22 15:48:00,20220822,NaN,NaN,NaN,NaN,16.0000,NaN,NaN,NaN,95.0000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,82.7824,1.0000,0.0000,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,1.0000,0.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,1.0000,0.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,NaN,95.0000,NaN,NaN,16.0000,95.0000,NaN,NaN,16.0000,95.0000,NaN,NaN,16.0000,95.0000,NaN,NaN,16.0000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0000,NaN,NaN,0,0.4806,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,2022-11-21 18:35:13,2022-08-25 08:30:00,20220825,NaN,0.0000,NaN,0.0000,NaN,0.0000,NaN,0.0000,NaN,0.0000,NaN,0.0000,NaT,NaN,NaN
1843185,Medicine,LB 4500,LB,0.0000,18.5000,2022-08-24 09:13:00,2022-08-23 14:43:00,20220823,NaN,90.0000,74.0000,89.0000,23.0000,36.3918,NaN,NaN,95.0000,NaN,79.3333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,101.4904,1.0000,0.0000,0.0000,-1.0000,NaN,1.0000,0.0000,NaN,1.0000,0.0000,NaN,1.0000,0.0000,NaN,1.0000,0.0000,NaN,1.0000,0.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,1.0000,0.0000,NaN,0.0000,-1.0000,NaN,1.0000,0.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,89.0000,95.0000,90.0000,79.3333,23.0000,95.0000,90.0000,79.3333,23.0000,95.0000,90.0000,79.3333,23.0000,95.0000,90.0000,79.3333,23.0000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0000,1.0000,2.0000,0.0000,1.0000,0,0.4682,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,2022-11-21 18:35:13,2022-08-28 20:22:00,20220828,NaN,0.0000,NaN,0.0000,NaN,0.0000,NaN,0.0000,NaN,0.0000,NaN,0.0000,NaT,NaN,NaN
2493757,Medicine,LB 5400,LB,0.0000,23.0000,2022-09-04 18:09:00,2022-09-03 19:09:00,20220903,NaN,119.0000,89.0000,99.0000,19.0000,36.4474,NaN,NaN,100.0000,NaN,99.0000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,78.9990,0.0000,1.0000,0.0000,-1.0000,NaN,1.0000,0.0000,NaN,1.0000,0.0000,NaN,1.0000,0.0000,NaN,1.0000,0.0000,NaN,1.0000,0.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,1.0000,0.0000,NaN,0.0000,-1.0000,NaN,1.0000,0.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,99.0000,100.0000,119.0000,99.0000,19.0000,100.0000,119.0000,99.0000,19.0000,100.0000,119.0000,99.0000,19.0000,100.0000,119.0000,99.0000,19.0000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0000,1.0000,0.0000,0.0000,0.0000,0,0.0477,1,1,1,1,1,0,0,0,0,0,0,0,0,0,0,0,2022-11-21 18:35:13,2022-09-13 21:44:00,20220913,[A41.9],1.0000,NaN,0.0000,NaN,0.0000,NaN,0.0000,NaN,0.0000,NaN,0.0000,NaT,NaN,NaN
1068967,*Unspecified,LI NW 4 MB MAIN PERIOP,NYUWH,0.0000,72.5000,2022-09-09 12:12:00,2022-09-06 11:42:00,20220906,NaN,149.0000,90.0000,91.0000,20.0000,36.6696,"4,162.2800",47.5800,97.0000,NaN,109.6667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,69.7440,1.0000,0.0000,0.0000,-1.0000,NaN,1.0000,0.0000,NaN,1.0000,0.0000,NaN,1.0000,0.0000,NaN,1.0000,0.0000,NaN,1.0000,0.0000,NaN,1.0000,0.0000,NaN,1.0000,0.0000,NaN,1.0000,0.0000,NaN,0.0000,-1.0000,NaN,1.0000,0.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,0.0000,-1.0000,NaN,91.0000,97.0000,149.0000,109.6667,20.0000,97.0000,149.0000,109.6667,20.0000,97.0000,149.0000,109.6667,20.0000,97.0000,149.0000,109.6667,20.0000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0000,1.0000,0.0000,0.0000,0.0000,0,0.0332,1,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,2022-11-21 18:35:13,2022-09-11 09:01:00,20220911,NaN,0.0000,NaN,0.0000,NaN,0.0000,NaN,0.0000,NaN,0.0000,NaN,0.0000,NaT,NaN,NaN

In [10]:
final_df.to_csv('data/main_prospective_val_df_20220805_20220930_20221010.csv')